.imageSizeLarge{
    padding: 10px;
    max-width: 250px;
    object-fit: contain;
    transition: all .3s;
}
.imageSizeLarge:hover{
    transform: scale(1.1);
}
.imageSize{
    padding: 10px;
    max-width: 220px;
    object-fit: contain;
    transition: all .3s;
}
.imageSize:hover{
    transform: scale(1.07);
}